
.bvn-info{
    text-align: center;
    font-size: 13px;
}

.pw-hint {
    font-size: 11px;
    margin-top: 4px;
}

.react-datepicker__input-container input{
    border: 1px solid #ced4da !important;
}
#showPassword{
    display: none;
    opacity: 0;
}
label.show-pw{
    font-size: 11px;
    display: block;
    margin-bottom: 0;
    position: relative;
    top: -3px;
    text-align: right;
    color: #A3C23D;
    font-weight: 600;
    cursor: pointer;
}