
.bvn-info{
    text-align: center;
    font-size: 13px;
}

.pw-hint {
    font-size: 11px;
    margin-top: 4px;
}

.react-datepicker__input-container input{
    border: 1px solid #ced4da !important;
}