@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}