.headingwrap {
    background: #fff;
    border-bottom: 1px solid rgba(163, 194, 61, 0.4);
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 8px solid #A3C23D;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-wrap img {
        max-width: 128px;
    }
    .header-items {
        display: flex;
        align-items: center;
        a{
            color: rgba(0,0,0,0.85);
            opacity: 0.8;
            font-size: 14px;
            margin: 0 20px;
            &:hover{
                text-decoration: none;
                font-weight: 600;
            }
        }
        .download-app {
            margin-left: 20px;
            a{
                margin: 0 10px 0 0 ;
            }
            span{
                font-weight: 500;
                font-size: 14px;
                display: block;
            }
        }
    }
}

@media screen and  (max-width: 1023px) {
    .headingwrap{
        .download-app{
            // display: none;
        }
    }
}
